.header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
    padding: 0 0 8px;
    margin: 0 0 10px;
    border-bottom: 1px solid #252525;
}
.header__item
{
    position: relative;
}
/*****************************/
.menu-control
{
    width: 17px;
}
.menu-conrol__controller
{
    display: block;
    margin: auto;
    font-size: 0;
    line-height: 0;
    cursor: pointer;
}
.menu-conrol__controller:hover path
{
    stroke: rgba(0,0,0,.7);
}
.menu-open
{
    width: 17px;
    height: 12px;
}
.menu-close
{
    width: 12px;
    height: 12px;
}
.menu-open-icon
{
}
.menu-close-icon
{
}
/*****************************/
.user-menu
{
    display: flex;
    visibility: hidden;
    position: absolute;
    transform: translateX(-100%);
}
.user-menu__item
{
    margin-right: 64px;
}
.user-menu__item_login
{

}
.user-menu__item_cart
{
    width: 20px;
    height: 20px;
}
.cart-icon
{
    width: 100%;
    height: auto;
    display: none;
}
.cart-icon:hover path,
.cart-icon:hover circle
{
    stroke: rgba(0,0,0,.7);
}
.user-menu__cart_empty .cart-empty-icon
{
    display: block;
}
.user-menu__cart_not-empty .cart-not-empty-icon
{
    display: block;
}
/*****************************/
#main-menu-switcher
{
    display: none;
}
#main-menu-switcher:not(:checked) + .header .menu-open
{
    display: block;
}
#main-menu-switcher:not(:checked) + .header .menu-close
{
    display: none;
}
#main-menu-switcher:checked + .header .menu-open
{
    display: none;
}
#main-menu-switcher:checked + .header .menu-close
{
    display: block;
}
/*****************************/
.logo
{
    width: 30px;
    height: 30px;
}
.logo__img
{
    width: 100%;
    height: auto;
}
.logo__img:hover
{
    opacity: .7;
}
/*****************************/
.lang
{
    font-size: 14px;
    letter-spacing: .05em;
}
/*****************************/
@media all and (min-width: 600px)
{

    .header
    {
        padding: 0 0 24px;
        margin: 0 0 20px;
    }
    .logo
    {
        width: 36px;
        height: 36px;
    }
    .menu-control
    {
        width: 24px;
    }
    .menu-open
    {
        width: 24px;
        height: 18px;
    }
    .menu-close
    {
        width: 18px;
        height: 18px;
    }
    .lang
    {
        font-size: 16px;
        letter-spacing: .05em;
    }

}
/*****************************/
@media all and (min-width: 1000px)
{

    .user-menu
    {
        visibility: visible;
    }
    .header
    {
        padding: 0 0 36px;
        margin: 0 0 34px;
    }
    .logo
    {
        width: 48px;
        height: 48px;
    }
    .menu-control
    {
        width: 24px;
    }
    .menu-open
    {
        width: 24px;
        height: 18px;
    }
    .menu-close
    {
        width: 18px;
        height: 18px;
    }
    .lang
    {
        font-size: 16px;
        letter-spacing: .05em;
    }

}
