.layout
{

}
.page
{
    margin: 10px 20px;
}
/*****************************/
@media all and (min-width: 600px)
{

    .page
    {
        margin: 24px 48px;
    }

}
/*****************************/
@media all and (max-width: 999px)
{

    #main-menu-switcher:checked ~ .page__content
    {
        display: none;
    }

}
/*****************************/
@media all and (min-width: 1000px)
{

    .page
    {
        margin: auto;
        padding: 36px 40px;
        max-width: 1200px;
    }

}
