#main-menu-switcher:not(:checked) ~ .main-menu__wrapper
{
    display: none;
}
#main-menu-switcher:checked ~ .main-menu__wrapper
{
    display: block;
}
/*****************************/
.main-menu__wrapper
{
    position: relative;
    width: 100%;
    user-select: none;
}
.main-menu
{
    background: #FEF9F3;
    position: absolute;
    width: 100%;
    min-height: calc(100vh - 200px);
}
.main-menu__items
{
}
.main-menu__items,
.main-menu__subitems,
.main-menu__last-item,
.main-menu__user-items
{
    margin: 0;
    padding: 0;
    list-style: none;
    user-select: none;
}
.main-menu__item,
.main-menu__subitem
{
    font-size: 14px;
    line-height: 20px;
}
.main-menu__item
{
    flex-grow: 1;
    flex-shrink: 0;
}
.main-menu__subitem
{
    margin: 0 0 20px 0;
}
.main-menu__label
{
    margin: 20px 0;
}
.main-menu__subitems-wrapper
{
    display: none;
}
.main-menu__subitems
{
    border-bottom: 1px solid #CCC;
    background: #FEF9F3;
}
.main-menu__item_has_subitems .main-menu__label
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-menu__item_has_subitems .main-menu__label::after
{
    content: '';
    /*noinspection CssOptimizeSimilarProperties*/
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iNSIgdmlld0JveD0iMCAwIDEyIDUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEgNWw1LTUgNSA1IiBzdHJva2U9IiMyNTI1MjUiIGZpbGw9Im5vbmUiLz48L3N2Zz4=);
    /*noinspection CssOptimizeSimilarProperties*/
    background-repeat: no-repeat;
    background-size: 10px 5px;
    width: 10px;
    height: 5px;
    cursor: pointer;
    /*transition: transform ease 300ms;*/
    transform: rotateZ(180deg);
}
.main-menu__visibler:checked + .main-menu__item_has_subitems .main-menu__label::after
{
    transform: rotateZ(360deg);
}
.main-menu__subitem
{
}
.main-menu__visibler:checked + .main-menu__item_has_subitems .main-menu__subitems-wrapper
{
    display: block;
}
.main-menu__link
{
    color: #252525;
    text-decoration: none;
    display: inline-block;
    width: 100%;
}
.main-menu__visibler
{
    display: none;
}
.main-menu__divider
{
    background: #CCC;
    height: 1px;
    margin: 24px 0;
}
/*****************************/
@media all and (min-width: 600px)
{

    .main-menu__item,
    .main-menu__subitem
    {
        font-size: 16px;
        line-height: 24px;
    }
    .main-menu__label
    {
        margin: 24px 0;
    }
    .main-menu__divider
    {
        margin: 29px 0;
    }
    .main-menu__item_has_subitems .main-menu__label::after
    {
        background-size: 12px 6px;
        width: 12px;
        height: 6px;
    }

}
/*****************************/
@media all and (min-width: 1000px)
{

    .main-menu
    {
        overflow: hidden;
        /*outline: 1px solid red;*/
        display: flex;
        min-height: initial;
    }
    .main-menu__item,
    .main-menu__subitem
    {
    }
    .main-menu__user-items
    {
        display: none;
    }
    .main-menu__label
    {
        padding: 24px 0;
        margin: 0;
        justify-content: flex-start !important;
    }
    .main-menu__divider
    {
        display: none;
    }
    .main-menu__subitems
    {
        border-bottom: 0;
    }
    .main-menu__items
    {
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        flex-grow: 1;
    }
    .main-menu__last-item
    {
        flex-grow: 0;
    }
    .main-menu__subitems
    {
        position: absolute;
        /*z-index: -9;*/
        width: auto;
    }
    .main-menu__item_has_subitems .main-menu__label::after
    {
        margin: 0 28px 0 20px;
    }
    .main-menu__item_desktop_hide
    {
        display: none;
    }

}
